 @media screen and (min-width: 1024px) {
    html, input {
        font-size: 16px;
    }

    body {
        height: 100vh;
    }

    main {
        grid-template-columns: 15vw 1fr;
        grid-template-rows: 25vh auto;
        gap: 0;
        padding: 3% 3% 0 3%;
    }

    .logo {
        grid-row: 1 / 2;
        margin-top: 0;
        width: 100%;
        place-self: start;
    }

    label {
        display: none;
        font-size: 1.2rem;
    }

    .form {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    h1 {
        width: 100%;
        font-weight: bold;
        align-self: center;
        font-size: 1.5rem;
    }

    .inputs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        font-size: 1.3rem;
    }

    .span__faturamento, .span__mensalidade  {
        width: 20%;
        margin: 0 1rem;
    }

    #input__faturamento, #input__mensalidade {
        height: 2rem;
        width: 100%;
        border-radius: 5px;
    }

    #input__faturamento::placeholder, #input__mensalidade::placeholder {
        font-size: .9rem;
    }

    button {
        width: 10%;
        height: 2rem;
        cursor: pointer;
    }

    .area-impressao {
        grid-area: 2 / 1 / 2 / 3;
        margin-top: 1.5rem;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}