:root {
	--bg-color: linear-gradient(135deg, #F8F8F8 50%, #EEEEEE 50%);
	--texto-botao: #eeebdd;
	--cor-botao: #99423F;
	--sombra-botao: #7A3735;
	--botao-pressionado: #9b403d;
}

/* ALINHAMENTOS DA VERSÃO MOBILE */
html, input {
	font-size: 14px;
    font-family: 'Hind', sans-serif;
}

body {
	background: var(--bg-color);
}

input {
	font-weight: bold;
}

main {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	row-gap: 4rem;
	padding: 0 10% 10% 10%;
}

.logo {
	grid-row: 1 / 1;
	width: 70%;
	place-self: center;
	margin-top: 3rem;
}

h1 {
	font-size: 1.3rem;
	/* font-weight: bold; */
	text-transform: uppercase;
	place-self: center;
}

label {
	display: none;
}

/* FORMULÁRIO */
form {
	grid-row: 2 / 2;
	width: 100%;
	text-align: center;

	display: grid;
	grid-template-rows: auto;
	row-gap: 1rem;
}

#input__faturamento, #input__mensalidade {
	width: 98%;
	height: 3rem;
	text-align: center;
	margin-top: 1rem;
}

#input__faturamento::placeholder, #input__mensalidade::placeholder {
	font-size: 1.1rem;
	text-align: center;
	font-weight: lighter;
}

button {
	place-self: end;
	margin-top: 1rem;
	font-size: 1.1rem;
	width: 50%;
	height: 3rem;
	color: var(--texto-botao);
	background-color: var(--cor-botao);
	border: none;
	border-radius: 5px;
	transition: 0.2s;
	box-shadow: inset -2px -2px var(--sombra-botao);
}

button:active {
	transform: translate(1px, 1px);
	box-shadow: none;
	background-color: var(--botao-pressionado);
}


/* AREA DE IMPRESSAO */
.area-impressao {
	align-self: center;
	place-self: center;
	grid-row: 3 / 3;

	/* width: auto;
	text-align: center; */
	opacity: .9;
	transition: 0.5s;
}

.fade-in {
	opacity: 1;
}

.resultado {
	padding-bottom: 0.5rem;
	text-align: left;
	font-size: 1.5rem;
	/* font-weight: bold; */
}

.total {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	padding: 0.5em 0em;
}

.aliquota {
	font-size: 1em;
	text-align: left;
	/* font-weight: bold; */
}

/* .aliquota:after {
	content: "%";
} */

footer {
	background-image: url("padrao.png\'");
	width: 100%;
	text-align: right;
}

address {
	padding: 1rem;
}

h2, p, a {
	text-decoration: none;
	color: var(--texto-botao);
}

h2 {
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: .5rem;
}